.copyright-bar {
	
}

.black-link {
	color: black;
}

.black-link:hover {
	color: black;
	text-decoration: none;
	cursor: auto;
}


.ecc-label {
	padding: 5px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 	transition: 0.3s;
 	border-radius: 25px;
}

.card-white {
	background: rgba(255,255,255, .8)
}

.card-img-top-about {
	width: 100%;
	height: 40vh;
	object-fit: cover;
	border-radius: 25px 25px 0px 0px;
}


.card-img-top-tools {
	width: 100%;
	height: 80px;
	object-fit: contain;
}

.card-img-top-instances {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 25px 25px 0px 0px;
}

.card-container {
	display: grid;
    padding: 2rem;
    display: grid;
 	grid-template-columns: repeat(2, 1fr);
 	grid-auto-rows: auto;
 	grid-gap: 1rem;
 	padding-right: 50px;
	padding-left: 50px;
}

.card-tool {
	padding: 20px;
	height: 240px;
    width: 240px;

}

.card-about {
	height: 100%;
    width: 100%;
}

.card-link {
	height: 250px;
    width: 250px;
}

.card-instances {
	padding: 20px;
	height: 350px;
	width: 450px;
}

.card-politician {
	height: 450px;
	width: 450px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 	transition: 0.3s;
 	border-radius: 25px;
 	background-color: white;
}

.trunc-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.avatar {
  	border: 0.3rem solid rgba(#fff, 0.3);
  	margin-top: -6rem;
  	margin-bottom: 1rem;
  	max-width: 9rem;
}

.container-search {
	padding: 10px;
}

.container-white-states {
	background-color: white;
	padding: 10px;
	width: 100%;
	height: 190px;
}

.container-white-bills {
	background-color: white;
	padding: 10px;
	width: 100%;
	height: 210px;
}

.container-highlight {
	background-color: white;
	padding: 10px;
	width: 450px;
	height: 50px;
}

.background-State{
	background-image: url("https://i.pinimg.com/originals/ff/ea/b7/ffeab7da0cd51a4a3f6f86e5a857a737.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.background-Pol {
	background-image: url("https://blog.independent.org/wp-content/uploads/2015/03/capitol.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.background-EL {
 	background-image: url("https://pixelz.cc/wp-content/uploads/2018/07/vintage-book-uhd-4k-wallpaper.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.background-VIS {
 	background-image: url("https://img.freepik.com/free-photo/sunshine-clouds-sky-during-morning-background-blue-white-pastel-heaven-soft-focus-lens-flare-sunlight-abstract-blurred-cyan-gradient-peaceful-nature-open-view-out-windows-beautiful-summer-spring_1253-1093.jpg?size=626&ext=jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*
Images?
https://images.alphacoders.com/548/548850.jpg
https://wallpaperaccess.com/full/870890.jpg
https://pixelz.cc/wp-content/uploads/2016/12/mountain-range-switzerland-uhd-4k-wallpaper.jpg
*/
.background-EL-Instances {
 	background-image: url("https://pixelz.cc/wp-content/uploads/2016/12/mountain-range-switzerland-uhd-4k-wallpaper.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.background-ST-Instances {
 	background-image: url("https://images.alphacoders.com/548/548850.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.background-POL-Instances {
 	background-image: url("https://wallpaperaccess.com/full/38629.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.no-bottom-margin {
	margin-bottom: 0
}

.background-fixed {
	display: flex;
	flex-flow: column;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	z-index: -1;
}

/*Fullscreen background for search*/
.background-Search {
 	background-image: url("https://i.imgur.com/YQTBvVH.jpg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-flow: column;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	z-index: -1;	
}

/*Search bg*/
.myBg {
	padding-right: 25px;
	padding-left: 25px;
	margin-right: 225px;
	margin-left: 225px;
	background-color: rgba(51, 51, 51, .7);
}

/*Black translucent background on models/search*/
.padding-Models {
	padding-right: 25px;
	padding-left: 25px;
	margin-right: 175px;
	margin-left: 175px;
	background-color: rgba(51, 51, 51, .7);
}

/* Grey translucent background on models/search */
.padding-Grey-Models {
	padding-right: 25px;
	padding-left: 25px;
	margin-right: 175px;
	margin-left: 175px;
	background-color: rgba(211, 211, 211, .5);
}


/*Highlight search color*/
.YourHighlightClass {
 	border-radius: 3px;
 	padding: 0px;
	background-color: #a1f099;
}

/*Number of sources found in global search*/
.smol-text {
	font-size: 16pt;
	float: right;
}

/*Center title on model pages and search*/
.center-title {
	display:table;
	margin:0 auto;
}

/*Color of pagination numbers*/
.pagination > li > a
{
    background-color: white;
    color: #2da842;
}

/*Color of pagination numbers when hovered*/
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #268236;
    background-color: #eee;
    border-color: #ddd;
}

/*Color of current pagination number*/
.pagination > .active > a
{
    color: white;
    background-color: #41a352 !important;
    border: solid 1px #41a352 !important;
}

/*Color of current pagination number when hovered*/
.pagination > .active > a:hover
{
    background-color: #41a352 !important;
    border: solid 1px #41a352;
}

/*Color of text selected with cursor*/
::selection {
  background: #6ce681;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
	  text-decoration: none;
}

.page-body {
	margin-top: 66px; /* Lower page below navbar */

}
