.visHeaderPicture {
    width: 100%;
    margin-top: 0px;
}

.header-text {
    position: absolute;
    top: 220px;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 3.8rem;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: 5px solid white;
    padding-left: 20px;
    padding-right: 20px;
}

.graduation-rate-scatter {
    margin: auto;
}

.legend-row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.legend-row:first-of-type {
    margin-top: 15px;
}

.legend-text {
    margin-left: 5px;
}

.header-text-sub {
    color: white;
    position: absolute;
    top: 340px;
}

.visHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.visual-header {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
    font-size: 2rem;

}

.heat-map  {
    height: 450px;
    width: 70%;
    margin: auto;
}

.bubble-map {
    height: 600px;
    width: 100%;
    /*margin-left: 50px;*/
    margin: auto;
}

.scatter-chart {
    height: 500px;
    width: 50%;
    margin: auto;
}

.income-chart {
    height: 500px;
    width: 60%;
    margin:auto;
}

.recharts-wrapper {
    float: left;
}





