.jumbotron_1 {
  color: white;
  background-image: url("https://wallpapercave.com/wp/wp4193385.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  margin-bottom: 0px; 
  border-bottom: 4px solid #47634b;
}

.jumbotron_2 {
  color: white;
  background-image: url("http://papers.co/wallpaper/papers.co-sj57-sky-blue-clear-white-gradation-blur-35-3840x2160-4k-wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 60vh;*/
  border-top: 4px solid #2f587a ;
  padding-top: 20px;
}

.darken-Font {
  color: black;
}