.v-jumbotron_1 {
  color: white;
  background-image: url("https://wallpapercave.com/wp/wp4193385.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.v-jumbotron_2 {
  color: white;
  /*background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/4BrdbiSFlik14dmb5/time-lapse-moving-cloud-on-blue-sky-background_vsqlgcjqx__F0000.png");*/
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
}

.darken-Font {
  color: black;
}